* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat';
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: end;
    align-items: end;

}

.logo {
    color: #252B42
}

.logo--white {
    color: white;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding: 1.5rem 1rem;
    width: 92%;
}

.navbar-container__items-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}

.navbar-container__items {
    display: flex;
    gap: 1rem;
}

.items {
    display: flex;
    gap: 20px;
}

.navbar-container__icons {
    display: flex;
    gap: 1rem;
}

.navbar-container__icons-sm {
    display: none;
}

.navbar-container-sm {
    display: none;
}

/* ========================================================SUB HEADER SECTION START HERE ======================== */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh !important;
    height: 35vh;
}

.container--sm {
    height: 30vh !important;
}

.container__content {
    width: 50%;
}

.p-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
}

.p-sub-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 0.2px;


    color: #737373;
} 

.p-text--upper {
    text-transform: uppercase;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px
}

.btn {
    padding: 10px 36px;
    border-radius: 37px;
    background: #FFA62B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.btn--stroke {
    color: #00A0C1;
    background: none;
    border: 2px solid #00A0C1;
}

.p-text--sm {
    font-weight: 700; 
    font-size: 30px;
    line-height: 57px;
}

.p-sub-text--sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 0;
    letter-spacing: 0.2px;
}

/* ======================================================================================================== */
.s-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
}

.s-container {
    width: 80%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.mech-section {
    border: 0.1px solid #E8E8E8;
    height: 35vh;
    padding: 0rem 1.5rem;
}

.mech-section__header-wrapper {
    display: flex;
    justify-items: center;
    padding: 20px 0px;
    gap: 0.5rem;
}

.mech-section__txt {
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.mech-section__sub-text {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
}

/* ================================================================================================================= */

.v-container {
    height: 70vh;
    background-color: #16697A;
    position: relative;
    margin-top: 8rem;

}

.v-container__img {
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%);
    width: 50%;
}

.v-container__btn {
    position: absolute;
    right: 50%;
    transform: translate(50%);
}

.v-container__filter {
    width: 100%;
    height: 70vh;
}

/* =================================================================================================== */
.container--bg-white {
    background-color: white;
}

.s-wrapper--bg-gray {
    background-color: #f1f1f1;
}

.s-container--sm {
    height: 40vh;
}

/* =================================================================== */
.card-container {
    display: flex;
    place-content: center;
    background-color: white;
}

.card-wrapper {
    width: 80%;
    display: grid;
    gap: 20px;
    padding: 2rem 0;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    place-items: center;
}

.card__title {

    width: 127px;
    height: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card__sub-title {
    width: 66px;
    height: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.icons {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card__img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* =========================================================================================== */
.bg-image-wrapper {
    background: url('./images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;

}

.form-container {
    display: flex;
    place-content: center;
}

.form-container__wrapper {
    width: 80%;
}

.form-group {
    display: flex;
    gap: 10px;
    padding: 0.5rem 0rem;
}

.form-input__control {
    padding: 0.5rem 1.5rem;
}

.form-container__text {
    padding: 1rem 0rem;
}

.form-container__sub-heading {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;

}

.form-container__heading {
    font-weight: 700;
    font-size: 35px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.form-input__select {
    width: 13.4rem;
    height: 2rem;
}

.col-75 {
    width: auto;
    margin-top: 6px;

}

.client-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: white;
    border: 1px solid #DEDEDE;
    border-radius: 1rem;
    padding: 1rem;
}


.client-card__ratings {
    display: flex;
}

.client-card__profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client-card__picture {
    height: 4rem;
}

.client-card__names {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFA62B;

}

.client-card__para {
    padding: 20px 0px;
}

.client-card__profession {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.form-text {
    width: 43.5%;
}

.btn--colored {
    width: 20%;
    margin-top: 1.5rem;
    border-radius: 0;
}

.sub-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.btn--sm {
    padding: 10px 20px;
    width: 10%;
    margin-top: 0rem;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.footer {
    height: 15vh;
    background-color: #252B42;
    display: flex;
    place-content: center;
    place-items: center;
}

.footer__content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #364067;
    padding: 1.5rem 0rem;
}

.footer__content--unbordered {
    border-bottom: none;

}

.footer--start-placed-content {
    height: 35vh;
    padding: 0rem 0rem;
    background-color: #252B42;
    display: flex;
    place-content: center;
    place-items: start;
}

.footer--colored {
    height: 10vh;
    overflow-y: hidden;
    padding: 0rem 0rem;
    background-color: #16697A;
}

.logo--sm {
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.footer-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.footer-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
}

.footer-content--input {
    position: relative;
}

.form-control {
    padding: 0.5rem 1rem;

}

.btn-input {
    position: absolute;
    top: 0;
    right: 0;
}

.btn--footer {
    border-radius: 2px;
    padding: 3.3px 7px;
    margin-top: 1px;
}

.separator {
    display: none;
}